.level1 {
	position:relative;
	top:20%;
	background-color:#6666FF;
	border-color:#2222FF;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius: 5px;
	margin:5px;
	padding:5px;

	width:600px;
	margin-left:auto; /*centering*/
	margin-right:auto;
}

.level2 {
	background-color:#AAAAFF;
	border-color:#4444FF;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius: 5px;
	margin:5px;
	padding:5px;
}

.level_warning {
	background-color:#FF6666;
	border-color:#FF2222;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius: 5px;
	margin:5px;
	padding:5px;
}

.level_infomation {
	background-color:#FFFF88;
	border-color:#FFFF11;
	border-width:2px;
	border-style:solid;
	-webkit-border-radius: 5px;
	margin:5px;
	padding:5px;
}

#domain_selector_input {
	width:100%;
	background-image: url(search_icon.png);
	background-repeat: no-repeat;
	padding: 5px;
	font-size: 14px;
	background-position: 99% 50%;
	border: 1px solid #ccc;
	padding-right:24px;
	margin-bottom:0px;
}

#domain_selector_list {
	height:0px; /*to be changed...*/
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	background-color:#FFF;
	border: solid #ccc;
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-width:0px;
	overflow:auto;
}

#domain_selector {
	width:200px;
}
